<div class="modal-container">
  <div class="modal-header">
    <h3 class="modal-title">Editar empresa</h3>
  </div>
  <div class="modal-body">
    <form class="form mt-4" [formGroup]="companyForm" >
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="companyType">Tipo da Empresa</label>
          <input
            id="companyType"
            name="companyType"
            type="text"
            class="form-control"
            formControlName="companyType"
          />
        </div>
        <div class="form-group col-lg-4">
          <label for="companyName">Nome da Empresa*</label>
          <input
            id="companyName"
            name="companyName"
            type="text"
            class="form-control"
            formControlName="companyName"
          />
          <app-message
            *ngIf="
              companyForm.get('companyName')?.errors?.['required'] &&
              companyForm.get('companyName')?.touched"
            mensagem="Nome da Empresa é obrigatório"
          >
          </app-message>
        </div>
        <div class="form-group col-lg-4">
          <label for="companyCNPJ">CNPJ da Empresa*</label>
          <input
            id="companyCNPJ"
            name="companyCNPJ"
            type="text"
            class="form-control"
            formControlName="companyCNPJ"
            placeholder="00.000.000/0000-00"
          />
          <app-message
            *ngIf="
              companyForm.get('companyCNPJ')?.errors?.['required'] &&
              companyForm.get('companyCNPJ')?.touched"
            mensagem="CNPJ da Empresa é obrigatório"
          >
          </app-message>
          <app-message
            *ngIf="
              companyForm.get('companyCNPJ')?.errors?.['pattern'] &&
              companyForm.get('companyCNPJ')?.touched"
            mensagem="Formato inválido"
          >
          </app-message>
        </div>
        <div class="form-group col-lg-4">
          <label for="companyCEP">CEP</label>
          <input
            id="companyCEP"
            name="companyCEP"
            type="text"
            class="form-control"
            formControlName="companyCEP"
            (change)="findCEP()"
          />
        </div>
        <div class="form-group col-lg-4">
          <label for="companyAddress">Endereço</label>
          <input
            id="companyAddress"
            name="companyAddress"
            type="text"
            class="form-control"
            formControlName="companyAddress"
          />
        </div>
        <div class="form-group col-lg-4">
          <label for="companyNeighborhood">Bairro</label>
          <input
            id="companyNeighborhood"
            name="companyNeighborhood"
            type="text"
            class="form-control"
            formControlName="companyNeighborhood"
          />
        </div>
        <div class="form-group col-lg-4">
          <label for="companyState">Estado</label>
          <input
            id="companyState"
            name="companyState"
            type="text"
            class="form-control"
            formControlName="companyState"
          />
        </div>
        <div class="form-group col-lg-4">
          <label for="companyCity">Cidade</label>
          <input
            id="companyCity"
            name="companyCity"
            type="text"
            class="form-control"
            formControlName="companyCity"
          />
        </div>
        <div class="form-group col-lg-4">
          <label for="companyPhone">Celular*</label>
          <input
            id="companyPhone"
            name="companyPhone"
            type="text"
            class="form-control"
            formControlName="companyPhone"
          />
          <app-message
            *ngIf="
              companyForm.get('companyPhone')?.errors?.['required'] &&
              companyForm.get('companyPhone')?.touched"
            mensagem="Celular é obrigatório"
          >
          </app-message>
        </div>
        <div class="form-group col-lg-4">
          <label for="companyAdm">Nome do administrador*</label>
          <input
            id="companyAdm"
            name="companyAdm"
            type="text"
            class="form-control"
            formControlName="companyAdm"
          />
          <app-message
            *ngIf="
              companyForm.get('companyAdm')?.errors?.['required'] &&
              companyForm.get('companyAdm')?.touched"
            mensagem="Nome do administrador é obrigatório"
          >
          </app-message>
        </div>
        <div class="form-group col-lg-4">
          <label for="companyCPF">CPF*</label>
          <input
            id="companyCPF"
            name="companyCPF"
            type="text"
            class="form-control"
            formControlName="companyCPF"
            placeholder="000.000.000-00"
          />
          <app-message
            *ngIf="companyForm.get('companyCPF')?.errors?.['required'] &&
              companyForm.get('companyCPF')?.touched"
            mensagem="CPF é obrigatório"
          >
          </app-message>
          <app-message
            *ngIf="companyForm.get('companyCPF')?.errors?.['pattern'] &&
              companyForm.get('companyCPF')?.touched"
            mensagem="Formato inválido"
          >
          </app-message>
        </div>
        <div class="form-group col-lg-4">
          <label for="companyEmail">E-mail*</label>
          <input
            id="companyEmail"
            name="companyEmail"
            type="text"
            class="form-control"
            formControlName="companyEmail"
          />
          <app-message
            *ngIf="companyForm.get('companyEmail')?.errors?.['required'] &&
              companyForm.get('companyEmail')?.touched"
            mensagem="E-mail é obrigatório"
          >
          </app-message>
          <app-message
            *ngIf="companyForm.get('companyEmail')?.errors?.['email'] &&
              companyForm.get('companyEmail')?.touched"
            mensagem="E-mail no formato incorreto"
          >
          </app-message>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      id="cancel-btn"
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      (click)="cancel()"
    >
      <span>Cancelar</span>
    </button>
    <button
      id="confirm-btn"
      type="submit"
      class="btn btn-primary"
      [disabled]="companyForm.invalid"
      (click)="confirm()"
    >
      <span>Salvar</span>
    </button>
  </div>
</div>
